.header__logo {
  width: 142px;
  height: 33px;
  background-image: url(../../../image/logo.svg);
 
}

@media (max-width: 900px) {
  .header__logo {
    margin-left: 27px;
  }
}

@media (max-width: 350px) {
  .header__logo {
    width: 103px;
    height: 24px;
  }
}