.page {
  font-family: Inter, Arial, Helvetica, sans-serif;
  max-width: 880px;
  margin: 0 auto;
  background: #000000;
}

.header {
  display: flex;
  margin: 45px auto 40px;
  max-width: 880px;
  border-bottom: 1px solid #545454;
  align-items: flex-start;
}

.header__logo {
  width: 142px;
  height: 33px;
  margin: 0;
  padding-bottom: 40px;
}

.profile {
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin-bottom: 50px;
}

@media (max-width: 320px) {
  .profile {
    max-width: 282px;
    margin: 42px auto 36px;
    flex-direction: column;
  }
}

@media (max-width: 320px) {
.profile__avatar {
  margin-bottom: 26px;
  }
}

.profile__title {
  color: #fff;
  display: block;
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  margin: 0 18px 0 0;
  max-width: 294px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 320px) {
  .profile__title {
    font-size: 27px;
    line-height: 33px;
    margin: 0 10px 0 0;
    max-width: 189px;
  }
}

.profile__name {
  align-items: flex-end;
  display: flex;
  margin-bottom: 16px;
}

@media (max-width: 320px) {
  .profile__name{
    margin: 0;
  }
}

.profile__subtitle {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  line-height: 21px;
  margin: 16px auto 0;
}

@media (max-width: 320px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
    max-width: 282px;
    padding-bottom: 36px;
    text-align: center;
  }
}

.profile__avatar {
  margin-right: 30px;
}

.profile__edit-button {
  background-color: unset;
  background-image: url(../image/edit.svg);
  background-position: 50% center;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  height: 24px;
  margin-bottom: 9px;
  width: 24px;
  cursor: pointer;
  opacity: 1;
  transition: opacity .1s ease-in-out;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media (max-width: 320px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin: 0;
    padding: 0;
    align-self: center;
  }
}

.profile__add-button {
  background-color: unset;
  background-image: url(../image/Add_Button.png);
  background-position: 50% center;
  background-repeat: no-repeat;
  border: 2px solid #fff;
  border-radius: 4px;
  cursor: pointer;
  height: 50px;
  margin-left: auto;
  width: 150px;
  opacity: 1;
  transition: opacity .1s ease-in-out;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media (max-width: 320px) {
  .profile__add-button {
    width: 282px;
    margin: 0;
    padding: 0;
    background-image: url(../image/add_button_big.png);
  }
}

.elements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  justify-items: center;
  column-gap: 17px;
  row-gap: 20px;
  padding: 0;
}

.element {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.element__image {
  display: block;
  height: 282px;
  object-fit: cover;
  width: 282px;
}

.element__title {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  margin: 0;
  max-width: 246px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.element__info {
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
  padding: 25px 15px 31px 21px;
  width: 282px;
  box-sizing: border-box;
}

.element__like {
  background-image: url(../image/white_heart.jpg);
  background-position: 50% center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  height: 19px;
  padding: 0;
  width: 22px;
  opacity: 1;
  transition: opacity .1s ease-in-out;
}

.element__like:hover {
  opacity: 0.6;
}

.footer {
  color: white;
}

.footer__copyright {
  margin: 66px 0 60px;
}


@media (max-width: 320px) {
.footer__copyright {
    padding-left: 19px;
    margin: 48px 0 36px;
  }
}

.popup {
  background-color: rgba(0, 0, 0, .5);
  align-items: center;
  position: fixed;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  display: flex;
  transition: opacity 0.4s, visibility 0.4s ease;
  opacity: 0;
  visibility: hidden;
}

.popup_open {
  display: flex;
	visibility: visible;
  opacity: 1;
  transition: opacity 0.4s, visibility 0.4s ease;
}

.popup__close {
  background-image: url(../image/close-icon.svg);
  border: none;
  width: 40px;
  height: 40px;
  background-color: unset;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -40px;
  right: -40px;
  outline: none;
}

.popup__container {
  background-color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  max-width: 430px;
  position: relative;
}

.popup__name {
  color: black;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  padding: 34px 64px 54px 36px;
  margin: 0;
}

@media (max-width: 768px) {
  .popup__name {
    font-size: 18px;
    line-height: 22px;
    padding: 25px 22px 50px;
  }
}

.popup__input {
  max-width: 358px;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 36px 30px;
  outline: none;
	padding: 0;
  padding-bottom: 13px;
	width: 100%;
}

@media (max-width: 768px) {
  .popup__input {
    max-width: 238px;
    margin: 0 22px 30px;
  }
}

.popup__button {
  margin: 13px 36px 36px;
  min-width: 358px;
  min-height: 50px;
  background-color: black;
  color: white;
  font-size: 18px;
  line-height: 22px;
  border: 0;
  border-radius: 2px;
  outline: none;
}

.popup__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media (max-width: 768px) {
  .popup__button {
    min-width: 238px;
    font-size: 14px;
    line-height: 17px;
    margin: 15px 22px 25px;
    height: 46px;
  }
}

@media (max-width: 900px) {
  .header__logo {
    width: 104px;
    height: 25px;
    padding-bottom: 31px;
    margin-left: 27px;
    display: flex;
    align-content: center;
  }
}

@media (max-width: 320px) {
  .header {
    max-width: 320px;
    margin: 28px auto 42px;
  }
}

@media (max-width: 1023px) {
  .elements {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .elements {
    grid-template-columns: 1fr;
    row-gap: 20px;
    margin-bottom: 48px;
  }
}